
<!-- Initlize the side menu-->

<nav class="zy-orange">


<nav style="background-color:#CC6600">
  <div class="container">


  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">TestGen</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a class="modal-trigger" href="#modal1">Login</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a href="/login">Login</a></li>
    </ul>
  </div>
</div>
</nav>
</nav>
<script src="js/_navs.js" charset="utf-8"></script>
